* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*container do projecto*/
.container {
    max-width: 1261px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

/*Top Header */
.top-header {
    width: 100%;
    height: 30px;
    background-color: #005CFF;
}

.top-header p {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
}

.top-header .discount-amount {
    width: 63px;
    height: 16px;
    background-color: #6220C1;
    border-radius: 4px;
    padding: 2px 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
}

.top-header .coupon-code {
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
}

/* EndTop Header */
.header-container {
    height: 118px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    background-color: #6220C1;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    background-color: red;
    margin-top: 17px;
}

.container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.header .logo {
    width: 152px;
    height: 28px;
}

.search-and-cart {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    justify-content: flex-start;
    margin-left: 65px;
}

.search-and-cart .search-box {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    margin-right: 275px;
    width: 594px;
}

.search-and-cart .search-input {
    flex-grow: 1;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    padding: 10px 0px 10px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    transition: border-color 300ms ease-in;
}

.search-and-cart .search-input:hover {
    border-color: #005CFF;
}

.search-and-cart .search-icon {
    width: 19px;
    height: 19px;
    position: absolute;
    right: 20px;
    color: #000000;
}

.search-and-cart .fa-user {
    width: 21px;
    height: 24px;
    font-size: 24px;
    margin-right: 8px;
    color: #005CFF;
}

.search-and-cart .text-info-header {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0%;
    margin-right: 24px;
}

.search-and-cart .shopping-cart {
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.search-and-cart .cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #005CFF;
    color: white;
    width: 21px;
    height: 21px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0%;
}

/*NavbarLinks Menus*/
.menu {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    background-color: blue;
    margin: 23px 0 18px 0;
}

.menu-hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 45px;
    position: relative;
}

.menu-hamburger i {
    margin-right: 8px;
}

.menu-hamburger a {
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Dropdown Menu*/
.menu-hamburger .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
}

.container-sidebar {
    display: flex;
    max-width: 1290px;
    height: 329px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px -1px #0000001A;
    margin-top: 13px;
}

.container-sidebar .sidebar {
    width: 234px;
    height: 329px;
    background-color: #f2f2f2;
    padding: 20px 27px 11px 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.departments-side {
    list-style: none;
    width: 190px;
    height: 298px;
}

.departments-side li {
    margin-bottom: 12px;
}

.departments-side a {
    text-decoration: none;
    font-weight: 400;
    color: #303030;
}

.departments-side a:hover {
    color: #005CFF;
}

.departments-side span {
    margin-left: 60px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
}

.departments {
    display: flex;
    align-items: center;
}

.content-dropdown-wrapper {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px -1px #0000001A;
}

.departments a {
    margin-right: 45px;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.departments a:last-child {
    margin-right: 19px;
}

/* Main dropdown */
.content-dropdown {
    display: flex;
    align-items: flex-start;
    padding: 20px 24px 11px 0;
}

.Liste {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 63px;
    text-align: center;
}

.Liste li {
    margin-bottom: 12px;
}

.Liste a {
    text-decoration: none;
    color: #303030;
    font-size: 14px;
}

.Liste a:hover {
    color: #005CFF;
    transition: color 0.3s ease;
}

.Liste-1 {
    margin-left: 34px;
    margin-right: 127px;
}

.Liste-2 {
    margin-right: 127px;
}

.Liste-3 {
    margin-right: 298px;
}

.imagem-container-dropdown {
    width: 236px;
    height: 298px;
    border-radius: 10px;
    background-image: url('/images/several/news.png');
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.imagem-container-dropdown .titulo {
    position: absolute;
    top: 43px;
    left: 28px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.5%;
}

.imagem-container-dropdown .destaque {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0%;
}

.imagem-container-dropdown::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border-radius: 10px;
    transform: rotate(-180deg);
    background: linear-gradient(90deg,
            rgba(0, 0, 0, 0.74902) -20.45%,
            rgba(0, 0, 0, 0) 138.31%);
}


.button_btn {
    position: absolute;
    width: 116px;
    height: 38px;
    top: 213px;
    left: 27px;
    border-width: 1px;
    background: transparent;
    border-radius: 10px;
    font-family: "Heebo", sans-serif;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid white;
    text-transform: uppercase;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.button_btn:hover {
    background-color: transparent;
    opacity: 70%;
    transition: color 0.3s ease;
}

.content-dropdown-wrapper.ativo-dropdown .Liste-1 {
    margin-left: 18px;
}

.content-dropdown-wrapper.ativo-dropdown .Liste-3 {
    margin-right: 544px;
}

.content-dropdown-wrapper.ativo-dropdown {
    display: flex;
}

.menu-hamburger a#allCategoriesLink:hover,
.menu-hamburger:hover i,
.departments.navbar-links a:hover {
    color: #005CFF;
    transition: color 0.3s ease;
}

.departments.navbar-links a {
    color: #303030;
}


/* Resposivo Mobile */
@media (max-width: 767px) {
    .top-header {
        height: 52px;
    }

    .top-header p {
        padding: 4px 22px;
    }

    .header-container {
        height: 132px;
        /* background-color: #6220C1*/
        position: relative;
    }

    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header>a:first-child {
        margin-bottom: 27px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search-and-cart {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
        position: relative;
    }

    .search-and-cart .search-box {
        margin-bottom: 27px;
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }

    .search-and-cart .shopping-cart {
        position: absolute;
        top: -54px;
        right: 15px;
    }

    .search-and-cart .shopping-cart .cart-badge {
        position: absolute;
        top: -6px;
        right: -6px;
    }

    .menu-hamburger {
        display: flex;
        position: absolute;
        top: 0;
        left: 16px;
        font-size: 24px;
    }

    .departments.navbar-links,
    .menu-hamburger a#allCategoriesLink,
    .search-and-cart>a:nth-child(2),
    .search-and-cart .text-info-header {
        display: none !important;
    }
}


/* Banner Hero */
.banner-container {
    width: 100%;
    height: 510px;
    background-image: url('/images/several/banner_hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.banner {
    margin: 143px 399px 142px 944px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6220C1;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.promo-text {
    font-size: 100px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 12px;
    display: flex;
}

.sale-text {
    font-weight: 300;
}

.sub-text {
    font-size: 25px;
    color: #005CFF;
    font-weight: 700;
    letter-spacing: 29%;
    width: 100%;
    margin-bottom: 12px;
}

.discount {
    font-size: 60px;
    font-weight: 700;
    color: #005CFF;
    line-height: 1 00%;
}



/* Resposivo Mobile */
@media (max-width: 768px) {

    .banner-container {
        width: 100%;
        height: 306px;
    }

    .banner {
        margin: 71px 38px 71px 213px;
        height: 225px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promo-text {
        display: block;
        font-size: 40px;
    }

    .sale-text {
        font-size: 40px;
    }

    .sub-text {
        font-size: 12px;
    }

    .discount {
        font-size: 32px;
    }
}


/* Card Caroussel */
.lancamentos-swiper {
    position: relative;
}

.options-slide ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lancamentos a {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #000000;
    text-decoration: none;
}

.ver-mais a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #303030;
    text-decoration: none;
    text-decoration: underline;
}

.slide-container {
    margin: 0 135px;
    position: relative;
}

.card {
    margin-top: 19px;
    height: 460px;
}

.card .image-box {
    width: 238px;
    height: 409px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 6px 8px 8px 8px;
}

.card .image-box img {
    max-width: 222px;
    width: 100%;
    height: 222px;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.produt-details .name {
    position: absolute;
    width: 41;
    height: 23;
    top: 7px;
    left: 8px;
    border-radius: 4px;
    background-color: #00264E;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 1px 6px;
    color: #FFFFFF;
}

.produt-details .description {
    display: block;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #303030;
    margin-top: 16px;
    margin-bottom: 4px;
}

.produt-details .price-original {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    text-decoration: line-through;
    color: #303030;
    margin-bottom: 4px;
}

.produt-details .price-discount {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 10px;
}

.produt-details .discount-percentage {
    position: absolute;
    width: 64px;
    height: 20px;
    top: 280px;
    left: 80px;
    border-radius: 4px;
    background-color: #5EC0BE;

    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    color: #FFFFFF;
    padding: 4px 8px;
}

.produt-details .credit {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 28px;
}

.produt-details .installment-info {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.buy-button {
    width: 222px;
    height: 40px;
    border-radius: 8px;
    padding-top: 10px;
    padding: 10px 82px;
    background-color: #005CFF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #005CFF;
    opacity: 0.7;
}

.swiper-navBtn {
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #005CFF;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 12px;
}

.swiper-pagination-bullet {
    background-color: #303030;
}


/* Mobile Adjustments */
@media (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }

    .options-slide ul {
        padding: 0 16px;
        margin-top: 56px;
    }
    
    .lancamentos a {
        font-size: 16px;
    }
    
    .ver-mais a {
        font-size: 14px;
    }
    
    .slide-container {
        margin: 0 17px;
        position: relative;
        gap: 10px;
    }
    
    .card {
        margin-top: 16px;
        height: 410px;  /* representa o botão por baixo */
    }
    
    .card .image-box {
        width: 174px;
        height: auto;
        border-radius: 10px;
        padding: 12px 8px;
    }
    
    .card .image-box img {
        max-width: 158px;
        width: 100%;
        height: 158px;
    }
    
    .produt-details .name {
        top: 12px;
        left: 8px;
    }
    
    .produt-details .description {
        margin-top: 8px;
        margin-bottom: 12px;
    }
    
    .produt-details .price-discount {
        margin-bottom: 10px;
    }
    
    .produt-details .discount-percentage {
        top: 220px;
        left: 86px;
    }
    
    .buy-button {
        width: 158px;
        height: 40px;
        padding-top: 10px;
        padding: 10px 50px;
        margin-bottom: 8px;
    }
}

/* Section About-us*/
.container-section {
    display: flex;
    max-width: 1177px;
    width: 100%;
    height: 747px;
    margin: 96px auto 55px auto;
}

.lorem img {
    width: 652px;
    height: 747px;
}

.text-section {
    display: flex;
    flex-direction: column;
    padding: 105px 0px 105px 36px;

}

.text-section .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: #000000;
}

.text-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    color: #000000;
    margin-top: 22px;
}

@media (max-width: 768px) {
    .container-section {
        flex-direction: column;
        width: 100%;
        margin: 38px auto 56px auto;
    }
    
    .lorem img {
        width: 100%;
        height: auto;
    }
    
    .text-section {
        padding: 38px 24px 48px 24px;
    }
    
    .text-section .title {
        font-size: 24px;
    }
    
    .text-section p {
        font-size: 14px;
        margin-top: 18px;
    }


}

